<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="gov.redhawk.ide.graphiti.ui.diagram.providers.ImageProvider"
            id="gov.redhawk.ide.graphiti.ui.diagram.providers.imageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.graphiti.ui.platform.GraphitiShapeEditPart"
            class="gov.redhawk.ide.graphiti.ui.adapters.ContainerShapeAdapterFactory">
         <adapter
               type="gov.redhawk.model.sca.ScaDevice">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaComponent">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaAbstractComponent">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaPropertyContainer">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaPortContainer">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.CorbaObjWrapper">
         </adapter>
         <adapter
               type="gov.redhawk.ide.debug.LocalLaunch">
         </adapter>
         <adapter
               type="CF.ResourceOperations">
         </adapter>
         <adapter
               type="CF.LifeCycleOperations">
         </adapter>
         <adapter
               type="CF.LogConfigurationOperations">
         </adapter>
      </factory>
      <factory
            adaptableType="gov.redhawk.ide.graphiti.ext.RHContainerShape"
            class="gov.redhawk.ide.graphiti.ui.adapters.ContainerShapeAdapterFactory">
         <adapter
               type="gov.redhawk.model.sca.ScaDevice">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaComponent">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaAbstractComponent">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaPropertyContainer">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaPortContainer">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.CorbaObjWrapper">
         </adapter>
         <adapter
               type="gov.redhawk.ide.debug.LocalLaunch">
         </adapter>
         <adapter
               type="CF.ResourceOperations">
         </adapter>
         <adapter
               type="CF.LifeCycleOperations">
         </adapter>
         <adapter
               type="CF.LogConfigurationOperations">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.graphiti.ui.internal.parts.AdvancedAnchorEditPart"
            class="gov.redhawk.ide.graphiti.ui.adapters.PortEditPartAdapterFactory">
         <adapter
               type="gov.redhawk.model.sca.ScaProvidesPort">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaUsesPort">
         </adapter>
         <adapter
               type="gov.redhawk.model.sca.ScaPort">
         </adapter>
         <adapter
               type="mil.jpeojtrs.sca.scd.AbstractPort">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="gov.redhawk.ide.graphiti.ui.showPropertiesView"
            name="Show Properties">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.redhawk.ide.graphiti.ui.handlers.ShowPropertiesViewHandler"
            commandId="gov.redhawk.ide.graphiti.ui.showPropertiesView">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
