<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	This file is protected by Copyright. Please refer to the COPYRIGHT file distributed with this 
	source distribution.

	This file is part of REDHAWK IDE.
	
	All rights reserved.  This program and the accompanying materials are made available under 
	the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at 
	http://www.eclipse.org/legal/epl-v10.html
-->
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="gov.redhawk.eclipsecorba.library.internal.ui.LibraryContentProvider"
            icon="icons/IdlLibrary.gif"
            id="gov.redhawk.eclipsecorba.library.ui.navigatorContent"
            labelProvider="gov.redhawk.eclipsecorba.library.internal.ui.LibraryNavigatorLabelProvider"
            name="%navigatorContent.name"
            priority="high">
         <possibleChildren>
            <or>
               <instanceof
                     value="gov.redhawk.eclipsecorba.library.internal.ui.LibraryPendingUpdateAdapter">
               </instanceof>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecore.namespace"
                           value="http:///gov/redhawk/eclipsecorba/idl.ecore">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecore.namespace"
                           value="http:///gov/redhawk/eclipsecorba/idl.expressions.ecore">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecore.namespace"
                           value="http:///gov/redhawk/eclipsecorba/idl.operations.ecore">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecore.namespace"
                           value="http:///gov/redhawk/eclipsecorba/idl.types.ecore">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.ecore.namespace"
                           value="http:///gov/redhawk/eclipsecorba/library">
                     </test>
                  </or>
               </and>
            </or>
         </possibleChildren>
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <or>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="gov.redhawk.ide.natures.sca.component">
                     </test>
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="gov.redhawk.ide.natures.sca.device">
                     </test>
                  </or>
               </adapt>
               <instanceof
                     value="gov.redhawk.eclipsecorba.library.IdlLibrary">
               </instanceof>
            </or></triggerPoints>
         <actionProvider
               class="gov.redhawk.eclipsecorba.library.internal.ui.IdlUiCommonActionProvider"
               priority="higher">
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="gov.redhawk.eclipsecorba.library.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="popup:org.eclipse.ui.popup.any?after=additions">
          <command
                commandId="gov.redhawk.eclipsecorba.library.ui.command.reset"
                icon="icons/IdlLibrary.gif"
                style="push">
             <visibleWhen
                   checkEnabled="false">
                <iterate
                      ifEmpty="false">
                   <adapt
                         type="org.eclipse.core.resources.IProject">
                      <or>
                         <test
                               property="org.eclipse.core.resources.projectNature"
                               value="gov.redhawk.ide.natures.sca.component">
                         </test>
                         <test
                               property="org.eclipse.core.resources.projectNature"
                               value="gov.redhawk.ide.natures.sca.device">
                         </test>
                      </or>
                   </adapt>
                </iterate>
             </visibleWhen>
          </command>
       </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="gov.redhawk.eclipsecorba.library.internal.ResetLibraryFileHandler"
             description="%command.description"
             id="gov.redhawk.eclipsecorba.library.ui.command.reset"
             name="%command.name">
       </command>
    </extension>
</plugin>
