<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.0"?>

<plugin>

   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="gov.redhawk.ide.sad.ui.providers.SadIdeEditPolicyProvider">
         <Priority
               name="Medium">
         </Priority>
      </editpolicyProvider>
   </extension>


	<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="gov.redhawk.ide.ui.wizards.category.sca"
            class="gov.redhawk.ide.sad.ui.wizard.NewScaWaveformProjectWizard"
            finalPerspective="gov.redhawk.ide.ui.perspectives.sca"
            hasPages="true"
            icon="icons/etool16/newprj_wiz.gif"
            id="gov.redhawk.ide.ui.wizards.newwaveform"
            name="%wizard.name.waveformProject"
            preferredPerspectives="gov.redhawk.ide.ui.wizards.category.sca"
            project="true">
      </wizard>
   </extension>
   
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="gov.redhawk.ide.sad.internal.ui.editor.SadEditor"
            contributorClass="gov.redhawk.ide.sad.internal.ui.editor.SadMultipageEditorActionBarContributor"
            default="false"
            icon="icons/full/obj16/SadModelFile.gif"
            id="gov.redhawk.ide.sad.ui.editor.presentation.SadEditorID"
            name="%editor.name.waveformEditor">
         <contentTypeBinding contentTypeId="mil.jpeojtrs.sca.sad.content-type"/>
      </editor>
   </extension>
    <extension
          point="org.eclipse.ui.ide.markerResolution">
       <markerResolutionGenerator
             class="gov.redhawk.ide.sad.internal.ui.SadMarkerResolutionGenerator"
             markerType="gov.redhawk.ide.emf.validation.problem">
       </markerResolutionGenerator>
    </extension>

    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="popup:org.eclipse.ui.popup.any#sourceMenuId?after=additions">
          <menu
                id="sourceMenuId"
                label="%menu.label.source">
             <command
                   commandId="gov.redhawk.ide.ui.command.cleanUpComponentFiles"
                   style="push">
                <visibleWhen
                      checkEnabled="false">
                   <iterate>
                      <or>
                         <adapt
                               type="org.eclipse.core.resources.IResource">
                            <test
                                  property="org.eclipse.core.resources.name"
                                  value="*.sad.xml">
                            </test>
                         </adapt>
                      </or>
                   </iterate>
                </visibleWhen>
             </command>
          </menu>
       </menuContribution>
    </extension>
    
     <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="mil.jpeojtrs.sca.sad.diagram">
         <propertyTab
               category="domain"
               id="property.tab.idl"
               label="%propertyTab.label">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="mil.jpeojtrs.sca.sad.diagram">
         <propertySection
               class="gov.redhawk.ide.sad.internal.ui.properties.IdlPropertySection"
               enablesFor="1"
               filter="gov.redhawk.ide.sad.internal.ui.properties.IdlPropertySection$Filter"
               id="property.section.idl"
               tab="property.tab.idl">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="gov.redhawk.ide.ui.category"
            defaultHandler="gov.redhawk.ide.sad.internal.ui.handler.MarkExternalHandler"
            id="gov.redhawk.ide.sad.ui.command.addExternalPort"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="gov.redhawk.ide.sad.ui.command.addExternalPort"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <instanceof
                           value="mil.jpeojtrs.sca.sad.diagram.edit.parts.ComponentSupportedInterfaceStubEditPart">
                     </instanceof>
                     <instanceof
                           value="mil.jpeojtrs.sca.sad.diagram.edit.parts.UsesPortStubEditPart">
                     </instanceof>
                     <instanceof
                           value="mil.jpeojtrs.sca.sad.diagram.edit.parts.ProvidesPortStubEditPart">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
    <extension
       point="gov.redhawk.sca.ui.scaContentTypes">
    <contentTypeBinding
          contentTypeId="mil.jpeojtrs.sca.sad.contentType"
          editorId="gov.redhawk.ide.sad.ui.editor.presentation.SadEditorID"
          priority="LOWEST">
    </contentTypeBinding>
 </extension>
</plugin>
