<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	This file is protected by Copyright. Please refer to the COPYRIGHT file distributed with this 
	source distribution.

	This file is part of REDHAWK IDE.
	
	All rights reserved.  This program and the accompanying materials are made available under 
	the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at 
	http://www.eclipse.org/legal/epl-v10.html
-->
<plugin>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
           viewerId="gov.redhawk.ui.sca_explorer">
        <includes>
           <contentExtension
                 isRoot="true"
                 pattern="gov.redhawk.ide.ui.sdr.navigatorContent">
           </contentExtension>
           <contentExtension
                 pattern="gov.redhawk.ide.sdr.ui.commonFilter.forwardDcl">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           activeByDefault="true"
           contentProvider="gov.redhawk.ide.sdr.ui.navigator.SdrNavigatorContentProvider"
           id="gov.redhawk.ide.ui.sdr.navigatorContent"
           labelProvider="gov.redhawk.ide.sdr.ui.navigator.SdrNavigatorLabelProvider"
           name="%navigatorContent.name.sdr"
           priority="lowest"
           providesSaveables="false"
           sortOnly="false">
        <triggerPoints>
           <instanceof
                 value="gov.redhawk.model.sca.ScaDomainManagerRegistry">
           </instanceof>
        </triggerPoints>
        <commonSorter
              class="gov.redhawk.ide.sdr.ui.navigator.SdrViewerSorter">
        </commonSorter>
        <possibleChildren>
           <or>
              <and>
                 <instanceof
                       value="org.eclipse.emf.ecore.EObject">
                 </instanceof>
                 <or>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http:///gov/redhawk/eclipsecorba/idl.ecore">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http:///gov/redhawk/eclipsecorba/idl.expressions.ecore">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http:///gov/redhawk/eclipsecorba/idl.operations.ecore">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http:///gov/redhawk/eclipsecorba/idl.types.ecore">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http://www.redhawk.gov/model/ide/sdr">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http://sca.jpeojtrs.mil/dcd">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http://sca.jpeojtrs.mil/dmd">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http://sca.jpeojtrs.mil/dpd">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http://sca.jpeojtrs.mil/prf">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http://sca.jpeojtrs.mil/profile">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http://sca.jpeojtrs.mil/sad">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http://sca.jpeojtrs.mil/scd">
                    </test>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.emf.ecore.namespace"
                          value="http://sca.jpeojtrs.mil/spd">
                    </test>
                 </or>
              </and>
              <adapt
                    type="org.eclipse.core.resources.IProject">
              </adapt>
           </or>
        </possibleChildren>
        <dropAssistant
              class="gov.redhawk.ide.sdr.internal.ui.SdrRootDropAdapterAssistant"
              id="gov.redhawk.ide.sdr.ui.sdrRootDropAssistant">
           <possibleDropTargets>
              <or>
                 <instanceof
                       value="gov.redhawk.ide.sdr.SdrRoot">
                 </instanceof>
                 <instanceof
                       value="gov.redhawk.ide.sdr.ComponentsContainer">
                 </instanceof>
                 <instanceof
                       value="gov.redhawk.ide.sdr.DevicesContainer">
                 </instanceof>
                 <instanceof
                       value="gov.redhawk.ide.sdr.NodesContainer">
                 </instanceof>
                 <instanceof
                       value="gov.redhawk.ide.sdr.WaveformsContainer">
                 </instanceof>
                 <instanceof
                       value="gov.redhawk.ide.sdr.ServicesContainer">
                 </instanceof>
                 <instanceof
                       value="gov.redhawk.ide.sdr.SharedLibrariesContainer">
                 </instanceof>
                 <instanceof
                       value="gov.redhawk.eclipsecorba.library.IdlLibrary">
                 </instanceof>
              </or>
           </possibleDropTargets>
        </dropAssistant>
        <actionProvider
              class="gov.redhawk.sca.internal.ui.actions.OpenWithActionProvider">
        </actionProvider>
     </navigatorContent>
     <commonFilter
           activeByDefault="true"
           description="%commonFilter.description"
           id="gov.redhawk.ide.sdr.ui.commonFilter.forwardDcl"
           name="%commonFilter.name">
        <filterExpression>
           <or>
              <instanceof
                    value="gov.redhawk.eclipsecorba.idl.ForwardDcl">
              </instanceof>
              <instanceof
                    value="gov.redhawk.eclipsecorba.idl.types.StructForwardDcl">
              </instanceof>
              <instanceof
                    value="gov.redhawk.eclipsecorba.idl.ValueForwardDcl">
              </instanceof>
              <instanceof
                    value="gov.redhawk.eclipsecorba.idl.types.UnionForwardDcl">
              </instanceof>
           </or>
        </filterExpression>
     </commonFilter>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="org.eclipse.ui.file.refresh"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="or">
                 <or>
                    <instanceof
                          value="gov.redhawk.ide.sdr.SdrRoot">
                    </instanceof>
                    <instanceof
                          value="gov.redhawk.eclipsecorba.library.IdlLibrary">
                    </instanceof>
                 </or>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.ui.edit.delete"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="or">
                 <or>
                    <instanceof
                          value="mil.jpeojtrs.sca.sad.SoftwareAssembly">
                    </instanceof>
                    <instanceof
                          value="mil.jpeojtrs.sca.dcd.DeviceConfiguration">
                    </instanceof>
                    <instanceof
                          value="mil.jpeojtrs.sca.spd.SoftPkg">
                    </instanceof>
                    <instanceof
                          value="gov.redhawk.ide.sdr.ComponentsSubContainer">
                    </instanceof>
                    <instanceof
                          value="gov.redhawk.ide.sdr.WaveformsSubContainer">
                    </instanceof>
                    <instanceof
                          value="gov.redhawk.ide.sdr.NodesSubContainer">
                    </instanceof>
                 </or>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="gov.redhawk.ide.sdr.ui.command.ExportToSDR"
              label="Export to SDR"
              style="push"
              tooltip="Export to SDR">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false">
                 <or>
                    <instanceof
                          value="org.eclipse.core.resources.IProject">
                    </instanceof>
                    <and>
                       <adapt
                             type="org.eclipse.core.resources.IResource">
                       </adapt>
                       <or>
                          <test
                                property="org.eclipse.core.resources.name"
                                value="*.spd.xml">
                          </test>
                          <test
                                property="org.eclipse.core.resources.name"
                                value="*.sad.xml">
                          </test>
                          <test
                                property="org.eclipse.core.resources.name"
                                value="*.dcd.xml">
                          </test>
                       </or>
                    </and>
                 </or>
              </iterate>
           </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="menu:project?after=additions">
        <command
              commandId="gov.redhawk.ide.sdr.ui.command.ExportToSDR"
              label="Export to SDR"
              style="push"
              tooltip="Export to SDR">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false">
                 <or>
                    <instanceof
                          value="org.eclipse.core.resources.IProject">
                    </instanceof>
                    <and>
                       <adapt
                             type="org.eclipse.core.resources.IResource">
                       </adapt>
                       <or>
                          <test
                                property="org.eclipse.core.resources.name"
                                value="*.spd.xml">
                          </test>
                          <test
                                property="org.eclipse.core.resources.name"
                                value="*.sad.xml">
                          </test>
                          <test
                                property="org.eclipse.core.resources.name"
                                value="*.dcd.xml">
                          </test>
                       </or>
                    </and>
                 </or>
              </iterate>
           </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.popup.any?after=group.new">
        <command
              commandId="gov.redhawk.ide.sdr.ui.command.LaunchDomainManagerWithOptions"
              label="Launch Domain ..."
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="or">
                 <instanceof
                       value="gov.redhawk.ide.sdr.SdrRoot">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="gov.redhawk.ide.sdr.ui.internal.handlers.RefreshSdrRootHandler"
           commandId="org.eclipse.ui.file.refresh">
        <activeWhen>
           <iterate
                 ifEmpty="false"
                 operator="or">
              <instanceof
                    value="gov.redhawk.ide.sdr.SdrRoot">
              </instanceof>
           </iterate>
        </activeWhen>
     </handler>
     <handler
           class="gov.redhawk.ide.sdr.ui.internal.handlers.RefreshIdlLibraryHandler"
           commandId="org.eclipse.ui.file.refresh">
        <activeWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="gov.redhawk.eclipsecorba.library.IdlLibrary">
              </instanceof>
           </iterate>
        </activeWhen>
        <enabledWhen>
           <iterate
                 ifEmpty="false"
                 operator="and">
              <instanceof
                    value="gov.redhawk.eclipsecorba.library.IdlLibrary">
              </instanceof>
           </iterate>
        </enabledWhen>
     </handler>
     <handler
           class="gov.redhawk.ide.sdr.ui.internal.handlers.LaunchDomainManagerWithOptions"
           commandId="gov.redhawk.ide.sdr.ui.command.LaunchDomainManagerWithOptions">
        <activeWhen>
           <iterate
                 ifEmpty="false"
                 operator="or">
              <instanceof
                    value="gov.redhawk.ide.sdr.SdrRoot">
              </instanceof>
           </iterate>
        </activeWhen>
     </handler>
     <handler
           class="gov.redhawk.ide.sdr.ui.internal.handlers.DeleteHandler"
           commandId="org.eclipse.ui.edit.delete">
        <activeWhen>
           <iterate
                 ifEmpty="false"
                 operator="or">
              <or>
                 <instanceof
                       value="mil.jpeojtrs.sca.sad.SoftwareAssembly">
                 </instanceof>
                 <instanceof
                       value="mil.jpeojtrs.sca.dcd.DeviceConfiguration">
                 </instanceof>
                 <instanceof
                       value="mil.jpeojtrs.sca.spd.SoftPkg">
                 </instanceof>
                 <instanceof
                       value="gov.redhawk.ide.sdr.ComponentsSubContainer">
                 </instanceof>
                 <instanceof
                       value="gov.redhawk.ide.sdr.WaveformsSubContainer">
                 </instanceof>
                 <instanceof
                       value="gov.redhawk.ide.sdr.NodesSubContainer">
                 </instanceof>
              </or>
           </iterate>
        </activeWhen>
     </handler>
     <handler
           class="gov.redhawk.ide.sdr.ui.internal.handlers.ExportToSDRHandler"
           commandId="gov.redhawk.ide.sdr.ui.command.ExportToSDR">
        <activeWhen>
           <iterate
                 ifEmpty="false">
              <or>
                 <instanceof
                       value="org.eclipse.core.resources.IProject">
                 </instanceof>
                 <and>
                    <adapt
                          type="org.eclipse.core.resources.IResource">
                    </adapt>
                    <or>
                       <test
                             property="org.eclipse.core.resources.name"
                             value="*.spd.xml">
                       </test>
                       <test
                             property="org.eclipse.core.resources.name"
                             value="*.sad.xml">
                       </test>
                       <test
                             property="org.eclipse.core.resources.name"
                             value="*.dcd.xml">
                       </test>
                    </or>
                 </and>
              </or>
           </iterate>
        </activeWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           categoryId="gov.redhawk.ide.ui.category"
           defaultHandler="gov.redhawk.ide.sdr.ui.internal.handlers.RefreshSdrRootHandler"
           description="%command.description"
           id="gov.redhawk.ide.sdr.ui.command.RefreshSdrRoot"
           name="%command.name">
     </command>
     <command
           categoryId="gov.redhawk.ide.ui.category"
           defaultHandler="gov.redhawk.ide.sdr.ui.internal.handlers.LaunchDomainManagerWithOptions"
           description="%command.description.0"
           id="gov.redhawk.ide.sdr.ui.command.LaunchDomainManagerWithOptions"
           name="%command.name.0">
     </command>
     <command
           defaultHandler="gov.redhawk.ide.sdr.ui.internal.handlers.ExportToSDRHandler"
           id="gov.redhawk.ide.sdr.ui.command.ExportToSDR"
           name="Export to SDR">
     </command>
  </extension>
  <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="gov.redhawk.ide.sdr.ui.command.RefreshSdrRoot"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+Shift+S">
      </key>
      <key
            commandId="gov.redhawk.ide.sdr.ui.command.ExportToSDR"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+Shift+E">
      </key>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="gov.redhawk.ui.preferences"
           class="gov.redhawk.ide.sdr.ui.preferences.SdrPreferencePage"
           id="gov.redhawk.ide.sdr.ui.preferences.SdrPreferencePage"
           name="%page.name">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="gov.redhawk.ide.sdr.internal.ui.preferences.PreferenceInitializer">
     </initializer>
  </extension>
  <extension
        point="org.eclipse.ui.decorators">
     <decorator
           class="gov.redhawk.ide.sdr.internal.ui.IdlLibraryDecorator"
           id="gov.redhawk.ide.sdr.ui.decorator.idlRepo"
           label="%decorator.label"
           lightweight="true"
           location="BOTTOM_RIGHT"
           state="true">
        <enablement>
           <objectClass
                 name="gov.redhawk.eclipsecorba.library.IdlLibrary">
           </objectClass>
        </enablement>
     </decorator>
     <decorator
           class="gov.redhawk.ide.sdr.internal.ui.SdrRootDecorator"
           id="gov.redhawk.ide.sdr.ui.decorator.sdrRoot"
           label="%decorator.label.0"
           lightweight="true"
           location="BOTTOM_RIGHT"
           state="true">
        <enablement>
           <objectClass
                 name="gov.redhawk.ide.sdr.SdrRoot">
           </objectClass>
        </enablement>
     </decorator>
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="gov.redhawk.eclipsecorba.library.IdlLibrary"
           class="gov.redhawk.ide.sdr.internal.ui.IdlLibraryAdapterFactory">
        <adapter
              type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
     </factory>
     <factory
           adaptableType="gov.redhawk.ide.sdr.SdrRoot"
           class="gov.redhawk.ide.sdr.internal.ui.SdrRootAdapterFactory">
        <adapter
              type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
     </factory>
     <factory
           adaptableType="gov.redhawk.ide.sdr.internal.ui.properties.ComponentCategory"
           class="gov.redhawk.ide.sdr.internal.ui.properties.CategoryAdapterFactory">
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
     </factory>
     <factory
           adaptableType="gov.redhawk.ide.sdr.internal.ui.properties.SpdCategory"
           class="gov.redhawk.ide.sdr.internal.ui.properties.CategoryAdapterFactory">
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
     </factory>
     <factory
           adaptableType="gov.redhawk.ide.sdr.internal.ui.properties.SdrPropertiesProvider"
           class="gov.redhawk.ide.sdr.internal.ui.properties.CategoryAdapterFactory">
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
     </factory>
     <factory
           adaptableType="gov.redhawk.ide.sdr.internal.ui.properties.WorkspacePropertiesProvider"
           class="gov.redhawk.ide.sdr.internal.ui.CategoryAdapterFactory">
        <adapter
              type="org.eclipse.ui.model.IWorkbenchAdapter">
        </adapter>
     </factory>
  </extension>
    <extension
        point="org.eclipse.ui.exportWizards">
     <wizard
           category="gov.redhawk.ide.ui.export.sca"
           class="gov.redhawk.ide.sdr.ui.export.DeployableScaExportWizard"
           id="gov.redhawk.ide.ui.deployable.sca.export"
           name="%exportWizard.name.sca">
     </wizard>
  </extension>
  
   <extension
         point="gov.redhawk.sca.propertiesProvider">
      <provider
            class="gov.redhawk.ide.sdr.internal.ui.properties.SdrPropertiesProvider"
            id="gov.redhawk.ide.sdr.ui.sdrPropertiesProvider"
            name="Target SDR Properties">
      </provider>
   </extension>
   <extension
         point="gov.redhawk.sca.propertiesProvider">
      <provider
            class="gov.redhawk.ide.sdr.internal.ui.properties.WorkspacePropertiesProvider"
            id="gov.redhawk.ide.sdr.ui.workspacePropertiesProvider"
            name="Workspace Properties">
      </provider>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="sdrDev">
         <run
               class="gov.redhawk.ide.sdr.internal.ui.filesystem.SdrFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="sdrDom">
         <run
               class="gov.redhawk.ide.sdr.internal.ui.filesystem.SdrFileSystem">
         </run>
      </filesystem>
   </extension>
      <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="sdrdev">
         <run
               class="gov.redhawk.ide.sdr.internal.ui.filesystem.SdrFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="sdrdom">
         <run
               class="gov.redhawk.ide.sdr.internal.ui.filesystem.SdrFileSystem">
         </run>
      </filesystem>
   </extension>
      <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="sdr">
         <run
               class="gov.redhawk.ide.sdr.internal.ui.filesystem.SdrFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
            id="gov.redhawk.ide.sdr.ui.editingDomain">
      </editingDomain>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="%variable.description"
            name="SdrRoot"
            resolver="gov.redhawk.ide.sdr.ui.varables.SdrRootResolver"
            supportsArgument="false">
      </variable>
   </extension>
</plugin>
