<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="gov.redhawk.ide.scd.internal.ui.editor.SCDEditor"
            default="true"
            icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/file_obj.png"
            id="gov.redhawk.ide.scd.ui.editor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="mil.jpeojtrs.sca.scd.content-type">
         </contentTypeBinding>
      </editor>
   </extension>

</plugin>
