<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	This file is protected by Copyright. Please refer to the COPYRIGHT file distributed with this 
	source distribution.

	This file is part of REDHAWK IDE.
	
	All rights reserved.  This program and the accompanying materials are made available under 
	the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at 
	http://www.eclipse.org/legal/epl-v10.html
-->
<plugin>
   <extension
         point="org.eclipse.pde.ui.newExtension">
      <category
            id="gov.redhawk.ide.ui.templates"
            name="%category.name">
      </category>
      <wizard
            availableAsShortcut="false"
            category="gov.redhawk.ide.ui.templates"
            icon="icons/etool16/newex_wiz.gif"
            id="gov.redhawk.ide.ui.templates.wizard.corba"
            name="%wizard.name.3"
            template="gov.redhawk.ide.ui.templates.controlPanel.corba">
         <description>
            %newExtension.templates.editor.desc
         </description>
      </wizard>
      <wizard
            availableAsShortcut="true"
            category="gov.redhawk.ide.ui.templates"
            icon="icons/etool16/newex_wiz.gif"
            id="gov.redhawk.ide.ui.templates.wizard.resource"
            name="Control Panel"
            template="gov.redhawk.ide.ui.templates.controlPanel.resource">
         <description>
            %newExtension.templates.editor.desc
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.templates">
      <template
            class="gov.redhawk.ide.internal.ui.templates.CorbaControlPanelTemplateSection"
            contributingId="gov.redhawk.sca.ui.scaContentTypes"
            id="gov.redhawk.ide.ui.templates.controlPanel.corba"
            name="%template.name.2">
      </template>
      <template
            class="gov.redhawk.ide.internal.ui.templates.ResourceControlPanelTemplateSection"
            contributingId="gov.redhawk.sca.ui.scaContentTypes"
            id="gov.redhawk.ide.ui.templates.controlPanel.resource"
            name="Control Panel Template">
      </template>
   </extension>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            category="gov.redhawk.ide.ui.templates"
            class="gov.redhawk.ide.internal.ui.templates.CorbaControlPanelPluginContentWizard"
            icon="icons/etool16/newexprj_wiz.gif"
            id="gov.redhawk.ide.ui.pluginContent.corba"
            java="true"
            name="REDHAWK Corba Control Panel"
            pureOSGi="false"
            rcp="false"
            requiresActivator="false"
            ui-content="true">
         <description>
            %wizard.description.3
         </description>
      </wizard>
      <wizard
            category="gov.redhawk.ide.ui.templates"
            class="gov.redhawk.ide.internal.ui.templates.ResourceControlPanelWizard"
            icon="icons/etool16/newexprj_wiz.gif"
            id="gov.redhawk.ide.ui.pluginContent.component"
            java="true"
            name="REDHAWK Control Panel"
            pureOSGi="false"
            rcp="false"
            requiresActivator="false"
            ui-content="true">
         <description>
            %wizard.description.1
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="gov.redhawk.ide.ui.wizards.category.sca"
            class="org.eclipse.pde.internal.ui.wizards.plugin.NewPluginProjectWizard"
            descriptionImage="icons/etool16/newprj_wiz.gif"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            hasPages="true"
            icon="icons/etool16/newprj_wiz.gif"
            id="gov.redhawk.ide.ui.wizard.controlPanel"
            name="%wizard.name.7"
            project="true">
         <description>
            %wizard.description.4
         </description>
         <keywordReference
               id="org.eclipse.pde.ui.pde">
         </keywordReference>
      </wizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizard.controlPanel">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="gov.redhawk.ide.ui.category"
            defaultHandler="gov.redhawk.ide.internal.ui.templates.handlers.NewControlPanelProject"
            id="gov.redhawk.ide.ui.templates.controlPanel.command"
            name="New Control Panel Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:gov.redhawk.prf.ui.editor.page.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.ui.templates.controlPanel.command"
               icon="icons/etool16/newexprj_wiz.gif"
               label="New Control Panel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:gov.redhawk.ide.scd.ui.editor.page.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.ui.templates.controlPanel.command"
               icon="icons/etool16/newexprj_wiz.gif"
               label="New Control Panel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:gov.redhawk.ide.spd.internal.ui.editor.implementation.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.ui.templates.controlPanel.command"
               icon="icons/etool16/newexprj_wiz.gif"
               label="New Control Panel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <test
                        forcePluginActivation="false"
                        property="gov.redhawk.ide.ui.templates.isSharedLibrary">
                  </test>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:gov.redhawk.ide.spd.internal.ui.editor.overview.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.ui.templates.controlPanel.command"
               icon="icons/etool16/newexprj_wiz.gif"
               label="New Control Panel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:gov.redhawk.ide.sad.internal.ui.editor.overview.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.ui.templates.controlPanel.command"
               icon="icons/etool16/newexprj_wiz.gif"
               label="New Control Panel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:gov.redhawk.ide.sad.internal.ui.editor.properties.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.ui.templates.controlPanel.command"
               icon="icons/etool16/newexprj_wiz.gif"
               label="New Control Panel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:gov.redhawk.ide.dcd.internal.ui.editor.overview.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.ui.templates.controlPanel.command"
               icon="icons/etool16/newexprj_wiz.gif"
               label="New Control Panel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:gov.redhawk.ide.dcd.internal.ui.editor.devices.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.ui.templates.controlPanel.command"
               icon="icons/etool16/newexprj_wiz.gif"
               label="New Control Panel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="gov.redhawk.ide.ui.templates.SharedLibraryPropertyTester"
            id="gov.redhawk.ide.ui.templates.sharedLibTester"
            namespace="gov.redhawk.ide.ui.templates"
            properties="isSharedLibrary"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
