<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	This file is protected by Copyright. Please refer to the COPYRIGHT file distributed with this 
	source distribution.

	This file is part of REDHAWK IDE.
	
	All rights reserved.  This program and the accompanying materials are made available under 
	the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at 
	http://www.eclipse.org/legal/epl-v10.html
-->
<plugin>
<extension
         point="org.eclipse.ui.newWizards">
      <category
            id="gov.redhawk.ide.ui.wizards.category.sca"
            name="%wizard.category.name.sca">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gov.redhawk.ide.internal.ui.perspective.ScaPerspectiveFactory"
            icon="icons/rh_logo_32x32.gif"
            id="gov.redhawk.ide.ui.perspectives.sca"
            name="%perspective.name.sca">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="gov.redhawk.ui.preferences"
            class="gov.redhawk.ide.ui.preferences.RedhawkIdeTargetPreferencePage"
            id="gov.redhawk.ide.ui.targetplatform"
            name="%preferencePage.name.targetPlatform">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="gov.redhawk.ide.ui.category.sca_development"
            name="%view.category.name.sca">
      </category>
   </extension>
    <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension
                 pattern="gov.redhawk.ui.filter.*">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <commonFilter
           activeByDefault="false"
           description="%commonFilter.description.prf"
           id="gov.redhawk.ui.filter.prf_xml"
           name="%commonFilter.name.prf">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.prf.xml">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
     <commonFilter
           activeByDefault="false"
           description="%commonFilter.description.scd"
           id="gov.redhawk.ui.filter.scd_xml"
           name="%commonFilter.name.scd">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.scd.xml">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
     <commonFilter
           activeByDefault="true"
           description="%commonFilter.description.sadDiagram"
           id="gov.redhawk.ui.filter.sad_diagram"
           name="%commonFilter.name.sadDiagram">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.sad_diagram">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
     <commonFilter
           activeByDefault="true"
           description="%commonFilter.description.sadDiagramV2"
           id="gov.redhawk.ui.filter.sad_diagramV2"
           name="%commonFilter.name.sadDiagramV2">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.sad_diagramV2">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
     <commonFilter
           activeByDefault="true"
           description="%commonFilter.description.componentChildren"
           id="gov.redhawk.ui.filter.component"
           name="%commonFilter.name.componentChildren">
        <filterExpression>
           <or>
              <instanceof
                    value="mil.jpeojtrs.sca.spd.Implementation">
              </instanceof>
              <instanceof
                    value="mil.jpeojtrs.sca.spd.Author">
              </instanceof>
           </or>
        </filterExpression>
     </commonFilter>
     <commonFilter
           activeByDefault="true"
           description="%commonFilter.description.dcdDiagram"
           id="gov.redhawk.ui.filter.dcd_diagram"
           name="%commonFilter.name.dcdDiagram">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.dcd_diagram">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
     <commonFilter
           activeByDefault="true"
           description="%commonFilter.description.dcdDiagramV2"
           id="gov.redhawk.ui.filter.dcd_diagramV2"
           name="%commonFilter.name.dcdDiagramV2">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.dcd_diagramV2">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
     <commonFilter
           activeByDefault="true"
           description="%commonFilter.description.objectFiles"
           id="gov.redhawk.ui.filter.object_files"
           name="%commonFilter.name">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.o">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
     <commonFilter
           activeByDefault="true"
           description="%commonFilter.description.m4Files"
           id="gov.redhawk.ui.filter.m4_files"
           name="%commonFilter.name.0">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.m4">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
     <commonFilter
           activeByDefault="true"
           description="%commonFilter.description.configFiles"
           id="gov.redhawk.ui.filter.config_files"
           name="%commonFilter.name.1">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="config.*">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
     <commonFilter
           activeByDefault="false"
           description="%commonFilter.description.cos"
           id="gov.redhawk.ui.filter.cos_idl"
           name="%commonFilter.name.cos">
        <filterExpression>
           <and>
              <adapt
                    type="gov.redhawk.eclipsecorba.library.RepositoryModule">
                 <test
                       forcePluginActivation="true"
                       property="gov.redhawk.eclipsecorba.library.repository.name"
                       value="Cos.*">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
     <commonFilter
           activeByDefault="true"
           description="%commonFilter.description.objectFiles"
           id="gov.redhawk.ui.filter.loobject_files"
           name="%commonFilter.name.2">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.lo">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
     <commonFilter
           activeByDefault="true"
           description="%commonFilter.description.objectFiles"
           id="gov.redhawk.ui.filter.laobject_files"
           name="%commonFilter.name.3">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.la">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
  </extension>
  <extension
        point="org.eclipse.ui.exportWizards">
     <category
           id="gov.redhawk.ide.ui.export.sca"
           name="%exportWizard.category.name.sca">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           id="gov.redhawk.ide.ui.category"
           name="%commands.category.name.sca">
     </category>
  </extension>
      <extension
          point="org.eclipse.ui.commands">
       <command
             categoryId="gov.redhawk.ide.ui.category"
             defaultHandler="gov.redhawk.ide.internal.ui.handlers.CleanUpComponentFilesHandler"
             description="%command.description.cleanUpComponentFiles"
             id="gov.redhawk.ide.ui.command.cleanUpComponentFiles"
             name="%command.name.cleanUpComponentFiles">
       </command>
    </extension>
        <extension
          point="org.eclipse.ltk.core.refactoring.renameParticipants">
       <renameParticipant
             class="gov.redhawk.ide.ui.action.RenameFileParticipant"
             id="gov.redhawk.ide.ui.renameFile"
             name="%renameFileParticipant.name">
          <enablement>
              <or>
                 <adapt
                       type="org.eclipse.core.resources.IProject">
                 </adapt>
              </or>
          </enablement>
       </renameParticipant>
       <renameParticipant
             class="gov.redhawk.ide.ui.action.RenameDiagramFileParticipant"
             id="gov.redhawk.ide.ui.renameDiagramFile"
             name="%renameDiagramParticipant.name">
          <enablement>
             <or>
                <adapt
                      type="org.eclipse.core.resources.IProject">
                </adapt>
             </or>
          </enablement>
       </renameParticipant>
    </extension>
        <extension
              point="org.eclipse.ui.perspectiveExtensions">
           <perspectiveExtension
                 targetID="gov.redhawk.ide.ui.perspectives.sca">
              <actionSet
                    id="org.eclipse.debug.ui.launchActionSet">
              </actionSet>
           </perspectiveExtension>
        </extension>
        <extension
              point="org.eclipse.ui.importWizards">
           <category
                 id="gov.redhawk.ide.ui.import.sca"
                 name="REDHAWK Development">
           </category>
           <wizard
                 category="gov.redhawk.ide.ui.import.sca"
                 class="gov.redhawk.ide.ui.wizard.RedhawkImportWizard"
                 icon="icons/rh_logo_16x16.gif"
                 id="gov.redhawk.ide.ui.wizard.noneclipsewizard"
                 name="REDHAWK Import Wizard">
           </wizard>
        </extension>
</plugin>
