<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="gov.redhawk.ide.graphiti.dcd.ui.diagram.providers.DCDEditorDiagramTypeProvider"
            id="gov.redhawk.ide.graphiti.dcd.ui.DCDEditorDiagramTypeProvider"
            name="DCD Editor Diagram Type Provider">
         <diagramType
               id="gov.redhawk.ide.graphiti.dcd.ui.DCDDiagramEditor">
         </diagramType>
         <imageProvider
               id="gov.redhawk.ide.graphiti.ui.diagram.providers.imageProvider">
         </imageProvider>
         <imageProvider
               id="gov.redhawk.core.graphiti.dcd.ui.DeviceManagerImageProvider">
         </imageProvider>
         <imageProvider
               id="gov.redhawk.core.graphiti.ui.ImageProvider">
         </imageProvider>
      </diagramTypeProvider>
      <diagramTypeProvider
            class="gov.redhawk.ide.graphiti.dcd.ui.diagram.providers.DevMgrSandboxDiagramTypeProvider"
            id="gov.redhawk.ide.graphiti.dcd.ui.DevMgrSandboxDiagramTypeProvider"
            name="Sandbox Device Manager Diagram Type Provider">
         <diagramType
               id="gov.redhawk.ide.graphiti.dcd.ui.DCDDiagramEditor">
         </diagramType>
         <imageProvider
               id="gov.redhawk.ide.graphiti.ui.diagram.providers.imageProvider">
         </imageProvider>
         <imageProvider
               id="gov.redhawk.core.graphiti.dcd.ui.DeviceManagerImageProvider">
         </imageProvider>
         <imageProvider
               id="gov.redhawk.core.graphiti.ui.ImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
  
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="gov.redhawk.ide.graphiti.dcd.internal.ui.editor.GraphitiDCDEditor"
            contributorClass="gov.redhawk.core.graphiti.dcd.ui.editor.GraphitiDcdMultipageEditorActionBarContributor"
            default="true"
            icon="icons/DCDEditor.gif"
            id="gov.redhawk.ide.graphiti.dcd.ui.editor.DcdEditor"
            name="Node Editor">
         <contentTypeBinding
               contentTypeId="mil.jpeojtrs.sca.dcd.content-type">
         </contentTypeBinding>
      </editor>
      <editor
            class="gov.redhawk.ide.graphiti.dcd.internal.ui.editor.GraphitiDeviceManagerSandboxEditor"
            contributorClass="gov.redhawk.core.graphiti.dcd.ui.editor.GraphitiDcdMultipageEditorActionBarContributor"
            default="true"
            icon="icons/DeviceManagerSandboxEditor.gif"
            id="gov.redhawk.ide.graphiti.dcd.ui.editor.DcdSandbox"
            name="Chalkboard">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            description="Filters .dcd_GDiagram resources"
            id="gov.redhawk.ide.graphiti.dcd.ui.commonFilter.gdiagram"
            name=".dcd_GDiagram resources">
         <filterExpression>
            <and>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.dcd_GDiagram">
                  </test>
               </adapt>
            </and></filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="gov.redhawk.ide.graphiti.dcd.ui.commonFilter.gdiagram">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="DCDDiagram.PropertyContributor"
            labelProvider="gov.redhawk.ide.graphiti.ui.diagram.providers.RHGraphitiDiagramLabelProvider">
         <propertyCategory
               category="Graphiti">
         </propertyCategory>
         <propertyCategory
               category="advanced">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="DCDDiagram.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="property.tab.DeviceProperties"
               label="Device Properties">
         </propertyTab>
         <propertyTab
               category="Graphiti"
               id="property.tab.ServiceProperties"
               label="Service Properties">
         </propertyTab>
         <propertyTab
               category="Graphiti"
               id="gov.redhawk.ide.graphiti.dcd.ui.propertyTab.portDetails"
               label="Port Details">
         </propertyTab>
         <propertyTab
               category="advanced"
               id="property.tab.ScaAdvanced"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="DCDDiagram.PropertyContributor">
         <propertySection
               class="gov.redhawk.ide.graphiti.ui.properties.ComponentPropertiesSection"
               filter="gov.redhawk.ide.graphiti.dcd.ui.properties.DeviceFilter"
               id="property.section.DeviceProperties"
               tab="property.tab.DeviceProperties">
         </propertySection>
         <propertySection
               class="gov.redhawk.ide.graphiti.ui.properties.ComponentPropertiesSection"
               filter="gov.redhawk.ide.graphiti.dcd.ui.properties.ServiceFilter"
               id="property.section.ServiceProperties"
               tab="property.tab.ServiceProperties">
         </propertySection>
         <propertySection
               class="gov.redhawk.ide.graphiti.dcd.ui.properties.DcdAdvancedEditPartPropertySection"
               filter="gov.redhawk.ide.graphiti.dcd.ui.properties.DcdAdvancedFilter"
               id="property.section.ScaAdvanced"
               tab="property.tab.ScaAdvanced">
         </propertySection>
         <propertySection
               afterSection="001_portDetailsPropertySection"
               class="gov.redhawk.sca.ui.properties.PortDetailsPropertySection"
               filter="gov.redhawk.ide.graphiti.ui.properties.PortFilter"
               id="gov.redhawk.ide.graphiti.dcd.ui.propertySection.PortDetails"
               tab="gov.redhawk.ide.graphiti.dcd.ui.propertyTab.portDetails">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="gov.redhawk.sca.ui.scaContentTypes">
      <contentTypeBinding
            contentTypeId="gov.redhawk.ide.debug.ui.contentType.localDcd"
            editorId="gov.redhawk.ide.graphiti.dcd.ui.editor.DcdSandbox"
            priority="HIGHEST">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="In a REDHAWK Graphiti DCD Diagram editor"
            id="gov.redhawk.ide.dcd.graphiti.ui.contexts.diagram"
            name="RH Graphiti DCD Diagram"
            parentId="org.eclipse.graphiti.ui.diagramEditor">
      </context>
      <context
            description="In the REDHAWK Graphiti DCD Sandbox editor"
            id="gov.redhawk.ide.dcd.graphiti.ui.contexts.sandbox"
            name="RH Graphiti DCD Sandbox"
            parentId="gov.redhawk.ide.dcd.graphiti.ui.contexts.diagram">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:gov.redhawk.ide.graphiti.dcd.ui.editor.DcdSandbox?after=org.eclipse.gef.group.rest">
         <command
               commandId="gov.redhawk.ide.graphiti.ui.showPropertiesView"
               label="Show Properties"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
