<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="gov.redhawk.ide.graphiti.dcd.ui.diagram.providers.DCDEditorDiagramTypeProvider"
            id="gov.redhawk.ide.graphiti.dcd.ui.DCDEditorDiagramTypeProvider"
            name="DCD Editor Diagram Type Provider">
         <diagramType
               id="gov.redhawk.ide.graphiti.dcd.ui.DCDDiagramEditor">
         </diagramType>
         <imageProvider
               id="gov.redhawk.ide.graphiti.ui.diagram.providers.imageProvider">
         </imageProvider>
         <imageProvider
               id="gov.redhawk.core.graphiti.dcd.ui.DeviceManagerImageProvider">
         </imageProvider>
         <imageProvider
               id="gov.redhawk.core.graphiti.ui.ImageProvider">
         </imageProvider>
      </diagramTypeProvider>
      <diagramTypeProvider
            class="gov.redhawk.ide.graphiti.dcd.ui.diagram.providers.DevMgrSandboxDiagramTypeProvider"
            id="gov.redhawk.ide.graphiti.dcd.ui.DevMgrSandboxDiagramTypeProvider"
            name="Sandbox Device Manager Diagram Type Provider">
         <diagramType
               id="gov.redhawk.ide.graphiti.dcd.ui.DCDDiagramEditor">
         </diagramType>
         <imageProvider
               id="gov.redhawk.ide.graphiti.ui.diagram.providers.imageProvider">
         </imageProvider>
         <imageProvider
               id="gov.redhawk.core.graphiti.dcd.ui.DeviceManagerImageProvider">
         </imageProvider>
         <imageProvider
               id="gov.redhawk.core.graphiti.ui.ImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
  
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="DCDDiagram.PropertyContributor">
         <propertySection
               class="gov.redhawk.ide.graphiti.ui.properties.PropertiesSection"
               filter="gov.redhawk.ide.graphiti.ui.properties.ComponentInstantiationFilter"
               id="gov.redhawk.ide.graphiti.dcd.ui.propertySection.properties"
               tab="gov.redhawk.core.graphiti.dcd.ui.propertyTab.properties">
         </propertySection>
      </propertySections>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="gov.redhawk.ide.graphiti.dcd.internal.ui.editor.GraphitiDCDEditor"
            contributorClass="gov.redhawk.core.graphiti.dcd.ui.editor.GraphitiDcdMultipageEditorActionBarContributor"
            default="true"
            icon="icons/DCDEditor.gif"
            id="gov.redhawk.ide.graphiti.dcd.ui.editor.DcdEditor"
            name="Node Editor">
         <contentTypeBinding
               contentTypeId="mil.jpeojtrs.sca.dcd.content-type">
         </contentTypeBinding>
      </editor>
      <editor
            class="gov.redhawk.ide.graphiti.dcd.internal.ui.editor.GraphitiDeviceManagerSandboxEditor"
            contributorClass="gov.redhawk.core.graphiti.dcd.ui.editor.GraphitiDcdMultipageEditorActionBarContributor"
            default="true"
            icon="icons/DeviceManagerSandboxEditor.gif"
            id="gov.redhawk.ide.graphiti.dcd.ui.editor.DcdSandbox"
            name="Chalkboard">
      </editor>
   </extension>

   <extension
         point="gov.redhawk.sca.ui.scaContentTypes">
      <contentTypeBinding
            contentTypeId="gov.redhawk.ide.debug.ui.contentType.localDcd"
            editorId="gov.redhawk.ide.graphiti.dcd.ui.editor.DcdSandbox"
            priority="HIGHEST">
      </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Redhawk device manager sandbox diagram"
            id="gov.redhawk.ide.graphiti.dcd.ui.contexts.sandbox"
            name="Redhawk device manager sandbox diagram"
            parentId="gov.redhawk.core.graphiti.dcd.ui.contexts.explorer">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:project?after=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatenode"
               icon="icons/generate_code.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditor">
                  <instanceof
                        value="gov.redhawk.ide.graphiti.dcd.internal.ui.editor.GraphitiDCDEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:gov.redhawk.ide.graphiti.dcd.ui.editor.DcdSandbox?after=org.eclipse.gef.group.rest">
         <command
               commandId="gov.redhawk.ide.graphiti.ui.showPropertiesView"
               label="Show Properties"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="DCDDiagram.PropertyContributor">
         <propertyTab
               afterTab="gov.redhawk.core.graphiti.dcd.ui.propertyTab.properties"
               category="Properties"
               id="gov.redhawk.ide.graphiti.dcd.ui.propertyTab.requirements"
               label="Requirements">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="DCDDiagram.PropertyContributor">
         <propertySection
               class="gov.redhawk.ide.graphiti.dcd.ui.properties.DcdRequirementsPropertySection"
               filter="gov.redhawk.ide.graphiti.ui.properties.RequirementsTabFilter"
               id="gov.redhawk.ide.graphiti.dcd.ui.propertySection.requirements"
               tab="gov.redhawk.ide.graphiti.dcd.ui.propertyTab.requirements">
         </propertySection>
         <propertySection
               class="gov.redhawk.ide.graphiti.ui.properties.ConnectionPropertiesSection"
               filter="gov.redhawk.ide.graphiti.ui.properties.ConnectionPropertiesFilter"
               id="gov.redhawk.ide.graphiti.dcd.ui.propertySection.connectionProperties"
               tab="gov.redhawk.core.graphiti.dcd.ui.propertyTab.properties">
         </propertySection>
         <propertySection
               class="gov.redhawk.ide.graphiti.dcd.ui.properties.DeviceConfigurationSection"
               filter="gov.redhawk.ide.graphiti.dcd.ui.properties.DeviceConfigurationFilter"
               id="gov.redhawk.ide.graphiti.dcd.ui.propertySection.deviceConfiguration"
               tab="gov.redhawk.core.graphiti.dcd.ui.propertyTab.properties">
         </propertySection>
      </propertySections>
    </extension>
	<extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="gov.redhawk.ide.graphiti.dcd.internal.ui.handlers.LaunchDeviceManager"
            id="gov.redhawk.ide.graphiti.dcd.ui.command.LaunchDeviceManager"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.redhawk.ide.graphiti.dcd.internal.ui.handlers.LaunchDeviceManager"
            commandId="gov.redhawk.ide.graphiti.dcd.ui.command.LaunchDeviceManager">
         <activeWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="gov.redhawk.ide.sdr.SdrRoot">
               </instanceof>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="gov.redhawk.ide.graphiti.dcd.ui.command.LaunchDeviceManager"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <instanceof
                        value="mil.jpeojtrs.sca.dcd.DeviceConfiguration">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="gov.redhawk.ide.ui.wizards.category.sca"
            class="gov.redhawk.ide.graphiti.dcd.ui.project.wizards.NewScaNodeProjectWizard"
            finalPerspective="gov.redhawk.ide.ui.perspectives.sca"
            hasPages="true"
            icon="icons/newprj_wiz.gif"
            id="gov.redhawk.ide.ui.wizards.newnode"
            name="%wizard.name"
            preferredPerspectives="gov.redhawk.ide.ui.wizards.category.sca, org.eclipse.cdt.ui.CPerspective, org.python.pydev.ui.PythonPerspective"
            project="true">
      </wizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizards.newnode">
      </primaryWizard>
      <wizard
            canFinishEarly="false"
            category="gov.redhawk.ide.ui.wizards.category.sca"
            class="gov.redhawk.ide.graphiti.dcd.ui.project.wizards.NewScaDeviceCreationProjectWizard"
            finalPerspective="gov.redhawk.ide.ui.perspectives.sca"
            hasPages="true"
            icon="icons/newprj_wiz.gif"
            id="gov.redhawk.ide.ui.wizard.newdevice"
            name="%wizard.name.0"
            preferredPerspectives="gov.redhawk.ide.ui.wizards.category.sca, org.eclipse.cdt.ui.CPerspective, org.python.pydev.ui.PythonPerspective"
            project="true">
      </wizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizard.newdevice">
      </primaryWizard>
      <wizard
            canFinishEarly="false"
            category="gov.redhawk.ide.ui.wizards.category.sca"
            class="gov.redhawk.ide.graphiti.dcd.ui.project.wizards.NewScaServiceCreationProjectWizard"
            finalPerspective="gov.redhawk.ide.ui.perspectives.sca"
            hasPages="true"
            icon="icons/newprj_wiz.gif"
            id="gov.redhawk.ide.ui.wizard.newservice"
            name="%wizard.name.1"
            preferredPerspectives="gov.redhawk.ide.ui.wizards.category.sca, org.eclipse.cdt.ui.CPerspective, org.python.pydev.ui.PythonPerspective"
            project="true">
      </wizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizard.newservice">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.graphiti.ui.internal.parts.DiagramEditPart"
            class="gov.redhawk.ide.graphiti.dcd.ui.adapters.DeviceConfigurationAdapter">
         <adapter
               type="mil.jpeojtrs.sca.dcd.DeviceConfiguration">
         </adapter>
      </factory>
   </extension>
</plugin>
