<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="gov.redhawk.ide.graphiti.dcd.ui.diagram.providers.DCDDiagramTypeProvider"
            id="gov.redhawk.ide.graphiti.dcd.ui.FactoryProvider"
            name="FactoryProvider">
         <diagramType
               id="gov.redhawk.ide.graphiti.dcd.ui.DCDDiagramEditor">
         </diagramType>
         <imageProvider
               id="gov.redhawk.ide.graphiti.dcd.ui.diagram.providers.deviceImageProvider">
         </imageProvider>
         <imageProvider
               id="gov.redhawk.ide.graphiti.ui.diagram.providers.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="gov.redhawk.ide.graphiti.dcd.ui.DCDDiagramEditor"
            name="DCD Diagram"
            type="DCDDiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="gov.redhawk.ide.graphiti.dcd.ui.diagram.providers.NodeImageProvider"
            id="gov.redhawk.ide.graphiti.dcd.ui.diagram.providers.deviceImageProvider">
      </imageProvider>
   </extension>
  
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="gov.redhawk.ide.graphiti.dcd.internal.ui.editor.GraphitiDcdMultipageEditor"
            contributorClass="gov.redhawk.ide.graphiti.dcd.internal.ui.editor.GraphitiDcdMultipageEditorActionBarContributor"
            default="true"
            id="gov.redhawk.ide.graphiti.dcd.ui.editor.DcdEditor"
            name="Graphiti Node Editor">
         <contentTypeBinding
               contentTypeId="mil.jpeojtrs.sca.dcd.content-type">
         </contentTypeBinding>
      </editor>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RHGraphitiDevice -->
      <package
            uri="http://www.redhawk.gov/model/rhdevicegext/1.0.0"
            class="gov.redhawk.ide.graphiti.dcd.ext.RHDeviceGxPackage"
            genModel="model/RHGraphitiDevice.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated RHGraphitiDevice -->
      <parser
            contentTypeIdentifier="http://www.redhawk.gov/model/rhdevicegext/1.0.0"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated RHGraphitiDevice -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="rhdevicegx"
            id="http://www.redhawk.gov/model/rhdevicegext/1.0.0"
            name="%_UI_RHDeviceGx_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.redhawk.gov/model/rhdevicegext/1.0.0"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            description="Filters .dcd_GDiagram resources"
            id="gov.redhawk.ide.graphiti.dcd.ui.commonFilter.gdiagram"
            name=".dcd_GDiagram resources">
         <filterExpression>
            <and>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.dcd_GDiagram">
                  </test>
               </adapt>
            </and></filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="gov.redhawk.ide.graphiti.dcd.ui.commonFilter.gdiagram">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="gov.redhawk.ide.ui.wizards.category.sca"
            class="gov.redhawk.ide.graphiti.dcd.ui.wizard.NewGraphitiNodeProjectWizard"
            finalPerspective="gov.redhawk.ide.ui.perspectives.sca"
            hasPages="true"
            icon="icons/etool16/newprj_wiz.gif"
            id="gov.redhawk.ide.graphiti.ui.wizards.newnode"
            name="Graphiti SCA Node Project"
            preferredPerspectives="gov.redhawk.ide.ui.wizards.category.sca"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="DCDDiagram.PropertyContributor">
         <propertyCategory
               category="Graphiti">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="DCDDiagram.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="property.tab.advanced"
               label="Core">
         </propertyTab>
         <propertyTab
               category="Graphiti"
               id="property.tab.ComponentProperties"
               label="Component Properties">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="DCDDiagram.PropertyContributor">
         <propertySection
               class="gov.redhawk.ide.graphiti.dcd.ui.properties.ComponentPropertiesSection"
               filter="gov.redhawk.ide.graphiti.dcd.ui.properties.ComponentFilter"
               id="property.section.ComponentProperties"
               tab="property.tab.ComponentProperties">
         </propertySection>
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               filter="gov.redhawk.ide.graphiti.dcd.ui.properties.ComponentFilter"
               id="graphiti.main.tab.emfreference.table"
               tab="property.tab.advanced">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="gov.redhawk.sca.ui.scaContentTypes">
      <contentTypeBinding
            contentTypeId="mil.jpeojtrs.sca.dcd.contentType"
            editorId="gov.redhawk.ide.graphiti.dcd.ui.editor.DcdEditor"
            priority="HIGHEST">
      </contentTypeBinding>
   </extension>
</plugin>
