<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
	This file is protected by Copyright. Please refer to the COPYRIGHT file distributed with this 
	source distribution.

	This file is part of REDHAWK IDE.
	
	All rights reserved.  This program and the accompanying materials are made available under 
	the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at 
	http://www.eclipse.org/legal/epl-v10.html
-->
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.redhawk.gov/model/ide/sdr"
            class="gov.redhawk.ide.sdr.SdrPackage"
            genModel="model/sdr.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="sdr"
            class="gov.redhawk.ide.sdr.util.SdrResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="gov.redhawk.ide.internal.sdr.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="%sdrroot.variable.description"
            name="SdrRoot"
            resolver="gov.redhawk.ide.sdr.variables.SdrRootResolver"
            supportsArgument="false">
      </variable>
   </extension>
   <extension
         point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
            id="gov.redhawk.ide.sdr.editingDomain">
      </editingDomain>
   </extension>

</plugin>
