<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="gov.redhawk.ide.codegen.codegens">
      <codegen
            autoGenerate="false"
           class="gov.redhawk.ide.ui.tests.projectCreation.stubs.StubGenerator"
            compiler="/usr/bin/gcc"
            compilerVersion="4.1.2"
            humanLanguage="EN"
            id="gov.redhawk.ide.ui.tests.projectCreation.cplusplus.CplusplusGenerator"
            language="C++"
            languageVersion="0"
            name="Stub C++ Code Generator"
            notDefaultable="false"
            priority="low">
         <description>
            Stub C++ code generator for testing.  SHOULD NEVER BE USED!
         </description>
         <operatingSystem
               default="true"
               os="Linux">
         </operatingSystem>
         <processor
               default="true"
               proc_type="x86">
         </processor>
         <processor
               default="true"
               proc_type="x86_64">
         </processor>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="service">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="loadabledevice">
         </componenttype>
         <componenttype
               type="executabledevice">
         </componenttype>
      </codegen>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.codegenTemplate">
      <template
          class="gov.redhawk.ide.ui.tests.projectCreation.stubs.StubGenerator"
            codegenId="gov.redhawk.ide.ui.tests.projectCreation.cplusplus.CplusplusGenerator"
            hasSettings="false"
            id="gov.redhawk.ide.ui.tests.projectCreation.cpp.component.pull"
            name="Pull Port Data"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <description>
            Stub C++ Pull Port Data code generator for testing.  SHOULD NEVER BE USED!
         </description>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="loadabledevice">
         </componenttype>
         <componenttype
               type="executabledevice">
         </componenttype>
      </template>
      <template
          class="gov.redhawk.ide.ui.tests.projectCreation.stubs.StubGenerator"
            codegenId="gov.redhawk.ide.ui.tests.projectCreation.cplusplus.CplusplusGenerator"
            hasSettings="false"
            id="gov.redhawk.ide.ui.tests.projectCreation.cpp.service"
            name="Default Service"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <componenttype
               type="service">
         </componenttype>
         <description>
            Stub C++ Service code generator for testing.  SHOULD NEVER BE USED!
         </description>
      </template>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.codegens">
      <codegen
            autoGenerate="false"
           class="gov.redhawk.ide.ui.tests.projectCreation.stubs.StubGenerator"
            compiler="/usr/bin/javac"
            compilerVersion="1.5"
            humanLanguage="EN"
            id="gov.redhawk.ide.ui.tests.projectCreation.java.JavaGenerator"
            language="Java"
            languageVersion="1.5"
            name="Stub Java Code Generator"
            notDefaultable="false"
            priority="low"
            runtime="/usr/bin/java"
            runtimeVersion="1.5">
         <description>
            Stub Java code generator for testing.  SHOULD NEVER BE USED!
         </description>
         <operatingSystem
               default="true"
               os="Linux">
         </operatingSystem>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="service">
         </componenttype>
         <componenttype
               type="loadabledevice">
         </componenttype>
         <componenttype
               type="executabledevice">
         </componenttype>
      </codegen>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.codegenTemplate">
      <template
           class="gov.redhawk.ide.ui.tests.projectCreation.stubs.StubGenerator"
            codegenId="gov.redhawk.ide.ui.tests.projectCreation.java.JavaGenerator"
            hasSettings="true"
            id="gov.redhawk.ide.ui.tests.projectCreation.java.component.pull"
            name="Pull Port Data (Base/Derived)"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <description>
            Stub Java Pull Port Data code generator for testing.  SHOULD NEVER BE USED!
         </description>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <property
               default_value=""
               key="java_package"
               name="Name of the Java package"
               required="true">
            <description>
               The package that the generated component should be named.
            </description>
         </property>
         <componenttype
               type="loadabledevice">
         </componenttype>
         <componenttype
               type="executabledevice">
         </componenttype>
      </template>
      <template
           class="gov.redhawk.ide.ui.tests.projectCreation.stubs.StubGenerator"
            codegenId="gov.redhawk.ide.ui.tests.projectCreation.java.JavaGenerator"
            hasSettings="false"
            id="gov.redhawk.ide.ui.tests.projectCreation.java.service"
            name="Default Service"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <componenttype
               type="service">
         </componenttype>
         <description>
            Stub Java Service code generator for testing.  SHOULD NEVER BE USED!
         </description>
         <property
               default_value=""
               key="java_package"
               name="Name of the Java package"
               required="true">
            <description>
               The package that the generated component should be named.
            </description>
         </property>
      </template>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.codegens">
      <codegen
            associatedPerspectiveId="org.python.pydev.ui.PythonPerspective"
            autoGenerate="false"
           class="gov.redhawk.ide.ui.tests.projectCreation.stubs.StubGenerator"
            id="gov.redhawk.ide.ui.tests.projectCreation.python.PythonGenerator"
            language="Python"
            languageVersion="2.4"
            name="Stub Python Code Generator"
            notDefaultable="false"
            priority="low"
            runtime="python"
            runtimeVersion="2.4.4">
         <description>
            Stub Python code generator for testing.  SHOULD NEVER BE USED!
         </description>
         <operatingSystem
               default="true"
               os="Linux">
         </operatingSystem>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="service">
         </componenttype>
         <componenttype
               type="loadabledevice">
         </componenttype>
         <componenttype
               type="executabledevice">
         </componenttype>
      </codegen>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.codegenTemplate">
      <template
           class="gov.redhawk.ide.ui.tests.projectCreation.stubs.StubGenerator"
            codegenId="gov.redhawk.ide.ui.tests.projectCreation.python.PythonGenerator"
            hasSettings="false"
            id="gov.redhawk.ide.ui.tests.projectCreation.python.component.pull"
            name="Pull Port Data"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <description>
            Stub Python Pull Port Data code generator for testing.  SHOULD NEVER BE USED!
         </description>
         <componenttype
               type="resource">
         </componenttype>
         <componenttype
               type="device">
         </componenttype>
         <componenttype
               type="loadabledevice">
         </componenttype>
         <componenttype
               type="executabledevice">
         </componenttype>
      </template>
      <template
           class="gov.redhawk.ide.ui.tests.projectCreation.stubs.StubGenerator"
            codegenId="gov.redhawk.ide.ui.tests.projectCreation.python.PythonGenerator"
            hasSettings="false"
            id="gov.redhawk.ide.ui.tests.projectCreation.python.service"
            name="Default Service"
            notDefaultable="false"
            selectable="true"
            usesPortTemplates="false">
         <componenttype
               type="service">
         </componenttype>
         <description>
            Stub Python Service code generator for testing.  SHOULD NEVER BE USED!
         </description>
      </template>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.ui.codegenPages">
     <codegenPage
            compositeClass="gov.redhawk.ide.ui.tests.projectCreation.stubs.StubGeneratorDisplayFactory"
            id="gov.redhawk.ide.ui.tests.projectCreation.java.ui.JavaCodegenPropertiesFactory"
            name="Stub Java Code Generator Properties Factory"
            wizardClass="gov.redhawk.ide.ui.tests.projectCreation.stubs.StubGeneratorDisplayFactory">
         <codegenId
               targetCodegenId="gov.redhawk.ide.ui.tests.projectCreation.java.JavaGenerator">
         </codegenId>
      </codegenPage>
   </extension>
</plugin>
