<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="writers" name="Writers" schema="schema/writers.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="gov.redhawk.ide.ui.category"
            id="gov.redhawk.ide.snapshot.ui.commands.snapshot"
            name="Snapshot">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="gov.redhawk.ide.snapshot.ui.commands.snapshot"
               id="gov.redhawk.ide.snapshot.ui.menus.snapshot"
               mnemonic="S">
           <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <adapt
                        type="gov.redhawk.model.sca.ScaUsesPort">
                     <test
                           property="gov.redhawk.sca.model.port.interface"
                           value="IDL:BULKIO/data.*">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SnapshotMetaData -->
      <package
            uri="platform:/resource/gov.redhawk.ide.snapshot.ui/src/snapshotMetaData.xsd"
            class="gov.redhawk.ide.snapshot.internal.ui.SnapshotMetaData.SnapshotMetadataPackage"
            genModel="model/SnapshotMetaData.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated SnapshotMetaData -->
      <parser
            type="snapshotmetadata"
            class="gov.redhawk.ide.snapshot.internal.ui.SnapshotMetaData.util.SnapshotMetadataResourceFactoryImpl"/>
   </extension>
   <extension
         point="gov.redhawk.ide.snapshot.ui.writers">
      <writer
            class="gov.redhawk.ide.snapshot.writer.internal.BinXMLDataWriter"
            id="gov.redhawk.ide.snapshot.writer.BinXMLDataWriter"
            name="Binary files (.bin and .xml)"
            settings="gov.redhawk.ide.snapshot.writer.internal.BinDataWriterSettings">
      </writer>
      <writer
            class="gov.redhawk.ide.snapshot.writer.internal.BinSriDataWriter"
            id="gov.redhawk.ide.snapshot.writer.BinSriDataWriter"
            name="Binary files (.bin and .sri)"
            settings="gov.redhawk.ide.snapshot.writer.internal.BinDataWriterSettings">
      </writer>
      <writer
            class="gov.redhawk.ide.snapshot.writer.internal.BlueDataWriter"
            id="gov.redhawk.ide.snapshot.writer.BlueDataWriter"
            name="Midas BLUE file (.tmp)">
      </writer>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.redhawk.ide.snapshot.internal.ui.SnapshotHandler"
            commandId="gov.redhawk.ide.snapshot.ui.commands.snapshot">
      </handler>
   </extension>
</plugin>
