<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="gov.redhawk.statistics.ui.views.StatisticsView"
            icon="icons/chart.gif"
            id="gov.redhawk.statistics.ui.views.StatisticsView"
            name="Statistics"
            restorable="false">
      </view>
   </extension>

</plugin>
