<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.gmf.runtime.diagram.ui.editpolicyProviders">
      <editpolicyProvider
            class="gov.redhawk.ide.dcd.ui.providers.DcdIdeEditPolicyProvider">
         <Priority
               name="Medium">
         </Priority>
      </editpolicyProvider>
   </extension>
 <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="gov.redhawk.ide.ui.wizards.category.sca"
            class="gov.redhawk.ide.dcd.ui.wizard.NewScaNodeProjectWizard"
            finalPerspective="gov.redhawk.ide.ui.perspectives.sca"
            hasPages="true"
            icon="icons/etool16/newprj_wiz.gif"
            id="gov.redhawk.ide.ui.wizards.newnode"
            name="%wizard.name"
            preferredPerspectives="gov.redhawk.ide.ui.wizards.category.sca, org.eclipse.cdt.ui.CPerspective, org.python.pydev.ui.PythonPerspective"
            project="true">
      </wizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizards.newnode">
      </primaryWizard>
      <wizard
            canFinishEarly="false"
            category="gov.redhawk.ide.ui.wizards.category.sca"
            class="gov.redhawk.ide.dcd.ui.wizard.NewScaDeviceCreationProjectWizard"
            finalPerspective="gov.redhawk.ide.ui.perspectives.sca"
            hasPages="true"
            icon="icons/etool16/newprj_wiz.gif"
            id="gov.redhawk.ide.ui.wizard.newdevice"
            name="%wizard.name.0"
            preferredPerspectives="gov.redhawk.ide.ui.wizards.category.sca, org.eclipse.cdt.ui.CPerspective, org.python.pydev.ui.PythonPerspective"
            project="true">
      </wizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizard.newdevice">
      </primaryWizard>
      <wizard
            canFinishEarly="false"
            category="gov.redhawk.ide.ui.wizards.category.sca"
            class="gov.redhawk.ide.dcd.ui.wizard.NewScaServiceCreationProjectWizard"
            finalPerspective="gov.redhawk.ide.ui.perspectives.sca"
            hasPages="true"
            icon="icons/etool16/newprj_wiz.gif"
            id="gov.redhawk.ide.ui.wizard.newservice"
            name="%wizard.name.1"
            preferredPerspectives="gov.redhawk.ide.ui.wizards.category.sca, org.eclipse.cdt.ui.CPerspective, org.python.pydev.ui.PythonPerspective"
            project="true">
      </wizard>
      <primaryWizard
            id="gov.redhawk.ide.ui.wizard.newservice">
      </primaryWizard>
   </extension>
 <extension
       point="org.eclipse.ui.editors">
    <editor
          class="gov.redhawk.ide.dcd.internal.ui.editor.NodeEditor"
          contributorClass="gov.redhawk.ide.dcd.internal.ui.editor.NodeEditorActionBarContributor"
          default="false"
          icon="icons/obj16/SpdModelFile.gif"
          id="gov.redhawk.ide.ui.editors.NodeEditor"
          name="%editor.name">
       <contentTypeBinding
             contentTypeId="mil.jpeojtrs.sca.dcd.content-type">
       </contentTypeBinding>
    </editor>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="popup:org.eclipse.ui.popup.any?after=additions">
       <command
             commandId="gov.redhawk.ide.dcd.ui.command.LaunchDeviceManager"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <iterate
                   ifEmpty="false"
                   operator="or">
                <instanceof
                      value="mil.jpeojtrs.sca.dcd.DeviceConfiguration">
                </instanceof>
             </iterate>
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="gov.redhawk.ide.dcd.internal.ui.handlers.LaunchDeviceManager"
          commandId="gov.redhawk.ide.dcd.ui.command.LaunchDeviceManager">
       <activeWhen>
          <iterate
                ifEmpty="false"
                operator="or">
             <instanceof
                   value="gov.redhawk.ide.sdr.SdrRoot">
             </instanceof>
          </iterate>
       </activeWhen>
    </handler>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="gov.redhawk.ide.dcd.internal.ui.handlers.LaunchDeviceManager"
          id="gov.redhawk.ide.dcd.ui.command.LaunchDeviceManager"
          name="%command.name">
    </command>
 </extension>
 <extension
       point="gov.redhawk.sca.ui.scaContentTypes">
    <contentTypeBinding
          contentTypeId="mil.jpeojtrs.sca.dcd.contentType"
          editorId="gov.redhawk.ide.ui.editors.NodeEditor"
          priority="LOWEST">
    </contentTypeBinding>
 </extension>
 <extension
       point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
    <paletteProvider
          class="gov.redhawk.ide.dcd.internal.ui.DcdPaletteProvider">
       <Priority
             name="Low">
       </Priority>
       <editor
             class="mil.jpeojtrs.sca.dcd.diagram.part.DcdDiagramEditor(mil.jpeojtrs.sca.dcd.diagram)">
       </editor>
    </paletteProvider>
 </extension>
  <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="mil.jpeojtrs.sca.dcd.diagram">
         <propertyTab
               category="domain"
               id="property.tab.idl"
               label="%propertyTab.label">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="mil.jpeojtrs.sca.dcd.diagram">
         <propertySection
               class="gov.redhawk.ide.sad.internal.ui.properties.IdlPropertySection"
               enablesFor="1"
               filter="gov.redhawk.ide.sad.internal.ui.properties.IdlPropertySection$Filter"
               id="property.section.idl"
               tab="property.tab.idl">
         </propertySection>
      </propertySections>
   </extension>
   
       <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             locationURI="popup:org.eclipse.ui.popup.any#sourceMenuId?after=additions">
          <menu
                id="sourceMenuId"
                label="%menu.label.source">
             <command
                   commandId="gov.redhawk.ide.ui.command.cleanUpComponentFiles"
                   style="push">
                <visibleWhen
                      checkEnabled="false">
                   <iterate>
                      <or>
                         <adapt
                               type="org.eclipse.core.resources.IResource">
                            <test
                                  property="org.eclipse.core.resources.name"
                                  value="*.dcd.xml">
                            </test>
                         </adapt>
                      </or>
                   </iterate>
                </visibleWhen>
             </command>
          </menu>
       </menuContribution>
    </extension>
</plugin>
