<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="gov.redhawk.ide.sad.graphiti.ui.diagram.providers.SADDiagramTypeProvider"
            id="gov.redhawk.ide.sad.graphiti.ui.FactoryProvider"
            name="FactoryProvider">
         <diagramType
               id="gov.redhawk.ide.sad.graphiti.ui.SADDiagramEditor">
         </diagramType>
         <imageProvider
               id="gov.redhawk.ide.sad.graphiti.ui.diagram.providers.imageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="gov.redhawk.ide.sad.graphiti.ui.SADDiagramEditor"
            name="SAD Diagram"
            type="SADDiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="gov.redhawk.ide.sad.graphiti.ui.diagram.providers.ImageProvider"
            id="gov.redhawk.ide.sad.graphiti.ui.diagram.providers.imageProvider">
      </imageProvider>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RHGraphiti -->
      <package
            uri="http://www.redhawk.gov/model/rhgext/1.0.0"
            class="gov.redhawk.ide.sad.graphiti.ext.RHGxPackage"
            genModel="model/RHGraphiti.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated RHGraphiti -->
      <parser
            contentTypeIdentifier="http://www.redhawk.gov/model/rhgext/1.0.0"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated RHGraphiti -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="rhgx"
            id="http://www.redhawk.gov/model/rhgext/1.0.0"
            name="%_UI_RHGx_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.redhawk.gov/model/rhgext/1.0.0"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>
</plugin>
