<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
-->
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="codegenPages" name="%extension-point.name" schema="schema/codegenPages.exsd"/>
   <extension-point id="codegenTemplatePages" name="codegenTemplatePages" schema="schema/codegenTemplatePages.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="%generate.component.description"
            id="gov.redhawk.ide.codegen.ui.command.generatecomponent"
            name="%generate.component.name">
      </command>
      <command
            defaultHandler="gov.redhawk.ide.codegen.ui.internal.command.GenerateNodeHandler"
            description="%generate.node.description"
            id="gov.redhawk.ide.codegen.ui.command.generatenode"
            name="%generate.node.name">
      </command>
      <command
            defaultHandler="gov.redhawk.ide.codegen.ui.internal.command.GenerateWaveformHandler"
            description="%generate.waveform.description"
            id="gov.redhawk.ide.codegen.ui.command.generatewaveform"
            name="%generate.waveform.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.redhawk.ide.codegen.ui.internal.command.GenerateComponentHandler"
            commandId="gov.redhawk.ide.codegen.ui.command.generatecomponent">
         <activeWhen>
            <or>
               <iterate
                     ifEmpty="false">
                  <or>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.spd.xml">
                     </test>
                  </adapt>
                  <instanceof
                        value="mil.jpeojtrs.sca.spd.Implementation">
                  </instanceof>
                  </or>
               </iterate>
               <with
                     variable="activeEditorId">
                  <equals
                        value="gov.redhawk.ide.ui.editors.ComponentEditor">
                  </equals>
               </with>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:gov.redhawk.prf.ui.editor.page.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatecomponent"
               icon="icons/generate_code.gif"
               label="%command.label"
               style="push"
               tooltip="%command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="gov.redhawk.ide.ui.editors.ComponentEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:gov.redhawk.ide.scd.ui.editor.page.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatecomponent"
               icon="icons/generate_code.gif"
               label="%command.label"
               style="push"
               tooltip="%command.tooltip">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="gov.redhawk.ide.ui.editors.ComponentEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:gov.redhawk.ide.spd.internal.ui.editor.implementation.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatecomponent"
               icon="icons/generate_code.gif"
               label="%command.label.0"
               style="push"
               tooltip="%command.tooltip.0">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:gov.redhawk.ide.spd.internal.ui.editor.overview.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatecomponent"
               icon="icons/generate_code.gif"
               label="%command.label.1"
               style="push"
               tooltip="%command.tooltip.1">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:gov.redhawk.ide.sad.internal.ui.editor.overview.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatewaveform"
               icon="icons/generate_code.gif"
               label="%generate.waveform.name"
               style="push"
               tooltip="%generate.waveform.name">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:gov.redhawk.ide.sad.internal.ui.editor.properties.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatewaveform"
               icon="icons/generate_code.gif"
               label="%generate.waveform.name"
               style="push"
               tooltip="%generate.waveform.name">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:gov.redhawk.ide.graphiti.sad.internal.ui.editor.components.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatewaveform"
               icon="icons/generate_code.gif"
               label="%generate.waveform.name"
               style="push"
               tooltip="%generate.waveform.name">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:gov.redhawk.ide.dcd.internal.ui.editor.overview.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatenode"
               icon="icons/generate_code.gif"
               label="%generate.node.name"
               style="push"
               tooltip="%generate.node.name">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:gov.redhawk.ide.dcd.internal.ui.editor.devices.toolbar?before=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatenode"
               icon="icons/generate_code.gif"
               label="%generate.node.name"
               style="push"
               tooltip="%generate.node.name">
            <visibleWhen
                  checkEnabled="false">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatecomponent"
               icon="icons/generate_code.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <or>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.spd.xml">
                        </test>
                     </adapt>
                     <instanceof
                           value="mil.jpeojtrs.sca.spd.Implementation">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatewaveform"
               icon="icons/generate_code.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.sad.xml">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="gov.redhawk.ide.codegen.ui.command.generatenode"
               icon="icons/generate_code.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.name"
                           value="*.dcd.xml">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="gov.redhawk.ide.codegen.ui.codegenPages">
      <codegenPage
            compositeClass="gov.redhawk.ide.codegen.ui.BooleanGeneratorDisplayFactory"
            id="gov.redhawk.ide.codegen.ui.internal.DefaultGeneratorPropertiesWizardPage"
            name="Boolean Codegen Properties Page"
            wizardClass="gov.redhawk.ide.codegen.ui.BooleanGeneratorDisplayFactory">
         <codegenId
               targetCodegenId="gov.redhawk.ide.codegen.jet.cplusplus.CplusplusGenerator">
         </codegenId>
         <codegenId
               targetCodegenId="gov.redhawk.ide.codegen.jet.python.PythonGenerator">
         </codegenId>
      </codegenPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="gov.redhawk.ui.preferences"
            class="gov.redhawk.ide.codegen.ui.preferences.CodegenPreferencePage"
            id="gov.redhawk.ide.codegen.ui.preferences.CodegenPreferencePage"
            name="Code Generation">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="gov.redhawk.ide.codegen.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
