<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="gov.redhawk.ui.sca_explorer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="gov.redhawk.ide.debug.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="gov.redhawk.ide.debug.internal.ui.ScaDebugContentProvider"
            icon="icons/obj16/RedHawk_Logo16x.gif"
            id="gov.redhawk.ide.debug.ui.navigatorContent"
            labelProvider="gov.redhawk.ide.debug.internal.ui.ScaDebugLabelProvider"
            name="%navigatorContent.name"
            priority="lowest"
            providesSaveables="false"
            sortOnly="false">
         <triggerPoints>
            <instanceof
                  value="gov.redhawk.model.sca.ScaDomainManagerRegistry">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.emf.ecore.namespace"
                     value="http://redhawk.gov/sca/debug">
               </test>
            </and>
         </possibleChildren>
         <commonSorter
               class="gov.redhawk.ide.debug.internal.ui.DebugViewerSorter"
               id="gov.redhawk.ide.debug.ui.viewerSorter">
         </commonSorter>
         <actionProvider
               class="gov.redhawk.sca.internal.ui.actions.OpenWithActionProvider">
            <enablement>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.ecore.namespace"
                        value="http://redhawk.gov/sca/debug">
                  </test>
               </and>
            </enablement>
         </actionProvider>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.new">
         <command
               commandId="gov.redhawk.ide.debug.ui.launch"
               icon="icons/obj16/run_exc.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <instanceof
                              value="mil.jpeojtrs.sca.spd.SoftPkg">
                        </instanceof>
                        <instanceof
                              value="mil.jpeojtrs.sca.spd.Implementation">
                        </instanceof>
                        <instanceof
                              value="mil.jpeojtrs.sca.sad.SoftwareAssembly">
                        </instanceof>
                     </or>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <menu
               label="Launch As">
            <dynamic
                  class="gov.redhawk.ide.debug.internal.ui.LaunchContributionItem"
                  id="gov.redhawk.ide.debug.ui.launchDynamicMenu">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="mil.jpeojtrs.sca.spd.SoftPkg">
                     </instanceof>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.control">
         <command
               commandId="gov.redhawk.ide.debug.ui.command.reset"
               icon="icons/obj16/resetButton.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="gov.redhawk.ide.debug.LocalLaunch">
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="gov.redhawk.ide.debug.ui.showConsole"
               icon="icons/obj16/console_view.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="gov.redhawk.ide.debug.LocalLaunch">
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.debug.ui.commands.Terminate"
               icon="icons/obj16/terminate_co.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="gov.redhawk.ide.debug.LocalLaunch">
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            defaultHandler="gov.redhawk.ide.debug.internal.ui.LaunchHandler"
            id="gov.redhawk.ide.debug.ui.launch"
            name="%command.name">
      </command>
      <command
            defaultHandler="gov.redhawk.ide.debug.internal.ui.ResetHandler"
            id="gov.redhawk.ide.debug.ui.command.reset"
            name="%command.name.0">
      </command>
      <command
            categoryId="gov.redhawk.ui.commands.category.sca"
            defaultHandler="gov.redhawk.ide.debug.internal.ui.ShowConsoleHandler"
            id="gov.redhawk.ide.debug.ui.showConsole"
            name="%command.name.1">
      </command>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="gov.redhawk.ide.debug.internal.ui.LocalWaveformLaunchDelegate"
            id="gov.redhawk.ide.debug.ui.launchLocalWaveform"
            modes="run"
            name="%launchDelegate.name"
            type="gov.redhawk.ide.debug.launchLocalWaveform">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="gov.redhawk.ide.debug.internal.ui.SadLaunchShortcut"
            description="%shortcut.description"
            icon="icons/obj16/RedHawk_Logo16x.gif"
            id="gov.redhawk.ide.debug.ui.shortcut.sad"
            label="%shortcut.label"
            modes="run, debug">
         <description
               description="%description.description"
               mode="run">
         </description>
         <description
               description="%description.description.0"
               mode="debug">
         </description>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.sad.xml">
                           </test>
                        </adapt>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <and>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="gov.redhawk.ide.natures.sca.waveform">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.open"
                                    value="open">
                              </test>
                           </and>
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="gov.redhawk.ide.debug.internal.ui.ComponentLaunchShortcut"
            icon="icons/obj16/RedHawk_Logo16x.gif"
            id="gov.redhawk.ide.debug.ui.localComponent"
            label="%shortcut.label.0"
            modes="run, debug">
         <description
               description="%description.description.1"
               mode="run">
         </description>
         <description
               description="Debug a component"
               mode="debug">
         </description>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 forcePluginActivation="true"
                                 property="org.eclipse.core.resources.name"
                                 value="*.spd.xml">
                           </test>
                        </adapt>
                        <adapt
                              type="org.eclipse.core.resources.IProject">
                           <and>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.projectNature"
                                    value="gov.redhawk.ide.natures.sca.component">
                              </test>
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.open"
                                    value="open">
                              </test>
                           </and>
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="gov.redhawk.ide.debug.launchLocalWaveform"
            icon="icons/obj16/RedHawk_Logo16x.gif"
            id="gov.redhawk.ide.debug.ui.launchLocalWaveform">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="gov.redhawk.ide.debug.localComponentProgram"
            icon="icons/obj16/RedHawk_Logo16x.gif"
            id="gov.redhawk.ide.debug.ui.localComponentProgram">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="gov.redhawk.ide.debug.internal.ui.LocalWaveformLaunchConfigurationTabGroup"
            id="gov.redhawk.ide.debug.ui.tabs.waveform"
            type="gov.redhawk.ide.debug.launchLocalWaveform">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="gov.redhawk.ide.debug.internal.ui.LocalComponentProgramTabGroup"
            id="gov.redhawk.ide.debug.ui.launchComponentProgram"
            type="gov.redhawk.ide.debug.localComponentProgram">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="gov.redhawk.sca.ui.scaContentTypes">
      <contentType
            id="gov.redhawk.ide.debug.ui.contentType.localSca"
            name="Chalkboard"
            priority="HIGHEST">
         <describer
               class="gov.redhawk.ide.debug.internal.ui.LocalScaChalkboardContentDescriber">
         </describer>
      </contentType>
   </extension>
   <extension
         point="gov.redhawk.core.resourceFactory.resourceFactories">
      <factoryProvider
            class="gov.redhawk.ide.debug.internal.SdrResourceFactoryProvider"
            id="gov.redhawk.ide.debug.ui.sdrFactoryProvider"
            priority="20">
      </factoryProvider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="gov.redhawk.ui.sca_explorer"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.redhawk.ide.debug.internal.ui.TerminateLocalLaunchHandler"
            commandId="org.eclipse.debug.ui.commands.Terminate">
         <activeWhen>
            <iterate
                  operator="and">
               <adapt
                     type="gov.redhawk.ide.debug.LocalLaunch">
               </adapt>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="gov.redhawk.ide.debug.internal.ui.LocalScaElementFactory"
            id="gov.redhawk.ide.debug.ui.localSca.factory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="gov.redhawk.ide.debug.internal.ui.LocalLaunchDecorator"
            id="gov.redhawk.ide.debug.ui.decorator"
            label="%decorator.label"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="gov.redhawk.ide.debug.LocalLaunch">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
       
</plugin>
