<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://redhawk.gov/sca/debug"
            class="gov.redhawk.ide.debug.ScaDebugPackage"
            genModel="model/scaDebug.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="scaDebug"
            class="gov.redhawk.ide.debug.util.ScaDebugResourceFactoryImpl"/>
   </extension>
	   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="Returns the IOR of the current Local Device Manager Stub, useful for debugging devices."
            name="LocalDeviceManagerIOR"
            resolver="gov.redhawk.ide.debug.LocalDeviceManagerIORResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Generate a unique service name within the context of the local sca."
            name="uniqueServiceName"
            resolver="gov.redhawk.ide.debug.UniqueServiceNameBindingResolver"
            supportsArgument="true">
      </variable>
   </extension>
    <extension
          point="org.eclipse.debug.core.launchConfigurationTypes">
       <launchConfigurationType
             delegate="gov.redhawk.ide.debug.LocalComponentProgramLaunchDelegate"
             id="gov.redhawk.ide.debug.localComponentProgram"
             modes="run"
             name="Local Component Program">
       </launchConfigurationType>
       <launchConfigurationType
             id="gov.redhawk.ide.debug.launchLocalWaveform"
             name="Local Waveform">
       </launchConfigurationType>
    </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="The IOR to the IDE Sandbox Servant"
            name="IDE_REF"
            resolver="gov.redhawk.ide.debug.internal.IdeRefDynamicVariableResolver">
      </variable>
   </extension>
</plugin>
