<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="launchConfigurationFactories" name="Launch Configuration Factories" schema="schema/launchConfigurationFactories.exsd"/>
   <extension-point id="spdBundle" name="spdBundle" schema="schema/spdBundle.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://redhawk.gov/sca/debug"
            class="gov.redhawk.ide.debug.ScaDebugPackage"
            genModel="model/scaDebug.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="scaDebug"
            class="gov.redhawk.ide.debug.util.ScaDebugResourceFactoryImpl"/>
   </extension>
	   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="%variable.description"
            name="LocalDeviceManagerIOR"
            resolver="gov.redhawk.ide.debug.internal.variables.LocalDeviceManagerIORResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="%variable.description.0"
            name="uniqueServiceName"
            resolver="gov.redhawk.ide.debug.internal.variables.UniqueServiceNameBindingResolver"
            supportsArgument="true">
      </variable>
   </extension>
    <extension
          point="org.eclipse.debug.core.launchConfigurationTypes">
       <launchConfigurationType
             delegate="gov.redhawk.ide.debug.internal.LocalComponentProgramLaunchDelegate"
             id="gov.redhawk.ide.debug.localComponentProgram"
             modes="run"
             name="%launchConfigurationType.name">
       </launchConfigurationType>
       <launchConfigurationType
             id="gov.redhawk.ide.debug.launchLocalWaveform"
             name="%launchConfigurationType.name.0">
       </launchConfigurationType>
    </extension>
   <extension
         point="org.eclipse.core.variables.dynamicVariables">
      <variable
            description="%variable.description.1"
            name="IDE_REF"
            resolver="gov.redhawk.ide.debug.internal.IdeRefDynamicVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Replaced by the exec parameters of the component"
            name="EXEC_PARAMS"
            resolver="gov.redhawk.ide.debug.internal.variables.ExecParamResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="IOR of the naming context to use"
            name="NAMING_CONTEXT_IOR"
            resolver="gov.redhawk.ide.debug.internal.variables.NamingContextIORResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="The name to bind the component to"
            name="NAME_BINDING"
            resolver="gov.redhawk.ide.debug.internal.variables.NameBindingResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Replace with a generated component identifier"
            name="COMPONENT_IDENTIFIER"
            resolver="gov.redhawk.ide.debug.internal.variables.ComponentIdentifierResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Debug level to run the component at"
            name="DEBUG_LEVEL"
            resolver="gov.redhawk.ide.debug.internal.variables.DebugLevelResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="IOR of the device manager to run the component from"
            name="DEVICE_MGR_IOR"
            resolver="gov.redhawk.ide.debug.internal.variables.DeviceManagerIORResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Get the profile name for the component"
            name="PROFILE_NAME"
            resolver="gov.redhawk.ide.debug.internal.variables.ProfileNameVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Generate a device identifier"
            name="DEVICE_ID"
            resolver="gov.redhawk.ide.debug.internal.variables.DeviceIdentifierVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Generate a device label"
            name="DEVICE_LABEL"
            resolver="gov.redhawk.ide.debug.internal.variables.DeviceLabelVariableResolver"
            supportsArgument="false">
      </variable>
      <variable
            description="Generate a service name"
            name="SERVICE_NAME"
            resolver="gov.redhawk.ide.debug.internal.variables.ServiceNameLauncherVariable"
            supportsArgument="false">
      </variable>
   </extension>
   <extension
         point="gov.redhawk.ide.debug.launchConfigurationFactories">
      <launchConfigurationFactory
            factory="gov.redhawk.ide.debug.internal.DefaultComponentLaunchConfigurationFactory"
            id="gov.redhawk.ide.debug.defaultLaunchConfigurationFactory"
            launchConfigType="gov.redhawk.ide.debug.localComponentProgram">
      </launchConfigurationFactory>
   </extension>
   <extension
         point="gov.redhawk.core.resourceFactory.resourceFactories">
      <factoryProvider
            class="gov.redhawk.ide.debug.internal.WorkspaceResourceFactoryProvider"
            id="gov.redhawk.ide.debug.workspaceFactoryProvider"
            priority="10">
      </factoryProvider>
      <factoryProvider
            class="gov.redhawk.ide.debug.internal.BundleResourceFactoryProvider"
            id="gov.redhawk.ide.debug.bundleFactoryProvider"
            priority="-1">
      </factoryProvider>
   </extension>
</plugin>
